.header {
    border-top: 5px solid #fc4c02;
}

/* mobile */
@media (max-width: 768px) {
    .resultsDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: repeat(6, auto);
        /* in resultsDiv */
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(5, auto);
    }
    
    .singleResult {
        grid-row: 1/2;
        grid-column: 1/2;
        border: 1px solid black;
    }
}

/* start desktop */
@media (min-width: 769px) {
    .App {
        text-align: center;
        height: 100vh;
        display: grid;
        grid-template-rows: 175px repeat(5, 1fr);
        /* 175px = header */
        /* 1fr = search form div */
        /* 1fr = result row 1 */
        /* 1fr = result row 2 */
        /* 1fr = result row 3 */
        /* 1fr = result row 4 */
        grid-template-columns: 1fr;
    }

    .header {
        /* in App */
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: center;
        top: 0px;
        position: fixed;
        padding: 5px;
        width: 100%;
    }

    .searchFormDiv {
        /* in App */
        grid-row: 2/3;
        grid-column: 1/-1;
        /* padding-top: 10px; */
    }
}
/* end desktop */