.header {
    border-top: 5px solid #fc4c02;
}

button {
    margin: 10px;
}

.spinner-border, .spinner-border-sm {
    position: right;
}

/* mobile */
@media (max-width: 768px) {
    .resultsDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: repeat(6, auto);
        /* in resultsDiv */
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(5, auto);
    }
    
    .singleResult {
        grid-row: 1/2;
        grid-column: 1/2;
        border: 1px solid black;
    }
}

/* start desktop */
@media (min-width: 769px) {

    .parallax {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .App {
        text-align: center;
        height: 100vh;
        display: grid;
        grid-template-rows: 200px repeat(2, 1fr);
        /* 200px = header */
        /* 1fr = search form div */
        /* 1fr = result div */
        grid-template-columns: 10px 1fr 10px;
    }

    .header {
        /* in App */
        grid-row: 1/2;
        grid-column: 1/4;
        /* in header */
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 10px repeat(2, 1fr) 10px;
        text-align: center;
        top: 0px;
        position: fixed;
        padding: 5px;
        width: 100%;
        background-color: white;
        z-index: 100;
    }

    .headerText {
        /* in header */
        grid-row: 1/2;
        grid-column: 2/4;
    }

    .searchFormDiv {
        /* in App */
        grid-row: 2/3;
        grid-column: 2/4;
        /* in searchFormDiv */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    }

    .searchForm {
        /* in searchFormDiv */
        grid-row: 1/2;
        grid-column: 2/4;
    }

    .resultsDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: 1/4;
        /* in resultsDiv */
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 100px;
        padding-top: 50px;
    }
}
/* end desktop */